# Dependencies
node_modules/
.nuxt/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Build files
dist/
build/

# System files
.DS_Store 